<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head  >
<!-- removed from head   id="headId"-->
    <meta charset="UTF-8">
    <title>title content</title>
    <link rel="stylesheet" th:href="@{/css/myCss.css}" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">-->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">-->
</head>
<body >

<div class="btn-group">
    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Change Language
    </button>
    <div >
<!--        class="dropdown-menu"-->
        <a class="dropdown-item" href="?locale=" th:value="en">English</a>
        <br>
        <a class="dropdown-item" href="?locale=ja_JP">Japanese</a>

    </div>
</div>
<h1 > haiiiiiiiiiiii</h1>
<div align="center" style="height: 800px">
    <h1 id="game-title">Welcome for Guess the Number Game</h1>
    <h3 style="padding-top: 100px">
        <a th:href="play"
           th:text="#{game.playMain}"
        href="play.html">
            Click to Play

            <!--        <a th:href="@{__${T(academy.learnprogramming.util.GameMappings).PLAY}__}"
                       th:text="Play">
                        Click to Play
                    </a>-->
        </a>
    </h3>


<footer style="padding-top: 600px"><p id="created-by">Creator</p></footer>
</div>
</body>
</html>