<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head id="headId" >
    <meta charset="UTF-8">
    <title>title content</title>
</head>
<body style="background-color: bisque; ">
<div align="center" style="height: 800px">
    <h1 id="game-title">Welcome for Guess the Number Game</h1>
    <h3 style="padding-top: 100px">
        <a th:href="play"
           th:text="#{game.playMain}"
        href="play.html">
            Click to Play

            <!--        <a th:href="@{__${T(academy.learnprogramming.util.GameMappings).PLAY}__}"
                       th:text="Play">
                        Click to Play
                    </a>-->
        </a>
    </h3>


<footer style="padding-top: 600px"><p id="created-by">Creator</p></footer>
</div>
</body>
</html>