<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head id="headId">
    <meta charset="UTF-8">
    <title>Guess the Number Context</title>
</head>
<body style="background-color: bisque; ">
<div align="center" style="height:800px">

    <h1 id="game-title">Guess to the Number game</h1>

    <h3 th:text="${mainMessage}">Main Message Content</h3>
    <h3 th:text="${resultMessage}">Result Message Content</h3>

<!--       <h3 th:text="${mainMessage}">Main Message Content</h3>
    <h3 th:text="${resultMessage}">Result Message Content</h3>

    <form action="play" method="post">-->


    <form id="game-form" action="play" method="post" style="padding-top: 300px;">
        <label id="enter-guess" for="guess">Enter your guess</label>
        <input  id="guess" type="number" name="guess"/>
        <input id="submit" type="submit" value="Submit">
    </form>
    <footer id="footerId" style="padding-top: 600px;"><p>Created by Jisha Maniamma</p></footer>
</div>
</body>
</html>